*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}
header{
width: 100%;
height: 100vh;
background-image: url("plant.jpg");
background-repeat: no-repeat;
background-size: 100% ;
}
nav{
    width:100%;
    height: 15vh;
background-color: rgb(234, 208, 208);
display:flex;
justify-content:space-between;
align-items:center;
text-align: center;
}
nav.logo{
width: 25%;
color: aqua;
font-size: 22px;
font-weight:bold;
padding: 40px;
}
nav menu {
    width: 25%;
    color: silver;
    font-size: 20px;
    text-decoration: none;
}
section{
    color:black;
    margin-left: 150px;
    text-align: center;
    font-weight: bold;
}
h1 {
    position: absolute;
    color: black;
    margin-left: 35%;
}